header, nav, main, address, footer {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  /* Typography */
  font-size: 20px;
  line-height: 27px;
  color: white;

 
  /* Background */
  background-color: black;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  background-attachment: fixed;

}
